header {
	font-family: ubuntu;
	text-align: center;
	background-color: #2F7BBF;
	background-image: url(../img/sixPointsHeader.png);
	background-size: cover;
	border: 1px solid black;
	padding: 4px;
	margin: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
h1 {
	font-family: ubuntu;
	text-align: center;
	margin: 2px;
	padding: 0px;
}
h2 {
	font-family: ubuntu;
	text-align: center;
	margin: 2px;
	padding: 0px;
}
h3 {
	font-family: ubuntu;
	text-align: center;
	margin: 2px;
	padding: 0px;
}
h4 {
	font-family: ubuntu;
	text-align: center;
	margin: 2px;
	padding: 0px;
	font-weight: 400;
}
h5 {
	font-family: ubuntu;
	text-align: center;
	margin: 2px;
	padding: 0px;
}
nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
nav ul li{
	float: left;
	border: 1px solid black;
	font-weight: bold;
}
nav a {
	padding: 10px 15px;
	display: block;
	background-color: #2F7BBF;
	color: #BF732F;
}
nav a:hover{
	color: #2F7BBF;
	background-color: #BF732F;
}
a {
	cursor: pointer;
	text-decoration: none;
}
body {
	margin: 0px;
}
#wrapper {
	width: 85%;
	margin: 0 auto;
}
.choice img {
	float: left;
	width: 30%;
	margin: 10px;
	border-radius: 50%;
}
.choice img:hover {
	box-shadow: 0 0 30px #BF732F;
}
p {
	font-family: ubuntu;
}
img {
	align: center;
	margin: 10px;
}
button {
	cursor: pointer;
}
footer {
	font-family: ubuntu;
	text-align: center;
	background-color: #2F7BBF;
	border-top: 1px solid black;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0px;
}
.center {
	text-align: center;
}
.clear {
	clear: both;
}
.movie {
	border: solid;
	margin: 10px;
	padding: 10px;
	width: 45%;
	float: left;
}
.movie img {
	float: left;
	width: 50%;
}
.alert {
	font-family:verdana;
	color:red;
	font-style:italic;
	font-weight:bold;
}
iframe.spotify {
	border-style:none;
}